# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Virtualenv
venv/
env/
.venv/

# Django stuff
*.log
local_settings.py
db.sqlite3
media/

# IDE / OS
.vscode/
.idea/
*.swp
.DS_Store

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# pytest / coverage (اگر بعداً اضافه شد)
.coverage
htmlcov/
pytest.ini
